<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolin.dao.ActColMapper">
  <resultMap id="BaseResultMap" type="com.rolin.entity.ActCol">
    <id column="act_col_id" jdbcType="INTEGER" property="actColId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="shop_act_id" jdbcType="INTEGER" property="shopActId" />
  </resultMap>
  <sql id="Base_Column_List">
    act_col_id, user_id, shop_act_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from act_col
    where act_col_id = #{actColId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from act_col
    where act_col_id = #{actColId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rolin.entity.ActCol">
    insert into act_col (act_col_id, user_id, shop_act_id
      )
    values (#{actColId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{shopActId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rolin.entity.ActCol">
    insert into act_col
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actColId != null">
        act_col_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopActId != null">
        shop_act_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actColId != null">
        #{actColId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopActId != null">
        #{shopActId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rolin.entity.ActCol">
    update act_col
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopActId != null">
        shop_act_id = #{shopActId,jdbcType=INTEGER},
      </if>
    </set>
    where act_col_id = #{actColId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rolin.entity.ActCol">
    update act_col
    set user_id = #{userId,jdbcType=INTEGER},
      shop_act_id = #{shopActId,jdbcType=INTEGER}
    where act_col_id = #{actColId,jdbcType=INTEGER}
  </update>

</mapper>