<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolin.dao.ShopActMapper">
  <resultMap id="BaseResultMap" type="com.rolin.entity.ShopAct">
    <id column="shop_act_id" jdbcType="INTEGER" property="shopActId" />
    <result column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="act_id" jdbcType="INTEGER" property="actId" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="act_img" jdbcType="CHAR" property="actImg" />
    <result column="act_des" jdbcType="CHAR" property="actDes" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_act_id, shop_id, act_id, begin_time, end_time, act_img, act_des
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shop_act
    where shop_act_id = #{shopActId,jdbcType=INTEGER}
  </select>
  <select id="selectByShopId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select *
    from shop_act
    where shop_id = #{shopId}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_act
    where shop_act_id = #{shopActId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rolin.entity.ShopAct">
    insert into shop_act (shop_act_id, shop_id, act_id, 
      begin_time, end_time, act_img, 
      act_des)
    values (#{shopActId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{actId,jdbcType=INTEGER}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{actImg,jdbcType=CHAR}, 
      #{actDes,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.rolin.entity.ShopAct">
    insert into shop_act
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopActId != null">
        shop_act_id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="actId != null">
        act_id,
      </if>
      <if test="beginTime != null">
        begin_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="actImg != null">
        act_img,
      </if>
      <if test="actDes != null">
        act_des,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopActId != null">
        #{shopActId,jdbcType=INTEGER},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        #{actId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actImg != null">
        #{actImg,jdbcType=CHAR},
      </if>
      <if test="actDes != null">
        #{actDes,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rolin.entity.ShopAct">
    update shop_act
    <set>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
      <if test="actId != null">
        act_id = #{actId,jdbcType=INTEGER},
      </if>
      <if test="beginTime != null">
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="actImg != null">
        act_img = #{actImg,jdbcType=CHAR},
      </if>
      <if test="actDes != null">
        act_des = #{actDes,jdbcType=CHAR},
      </if>
    </set>
    where shop_act_id = #{shopActId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rolin.entity.ShopAct">
    update shop_act
    set shop_id = #{shopId,jdbcType=INTEGER},
      act_id = #{actId,jdbcType=INTEGER},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      act_img = #{actImg,jdbcType=CHAR},
      act_des = #{actDes,jdbcType=CHAR}
    where shop_act_id = #{shopActId,jdbcType=INTEGER}
  </update>
</mapper>