<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rolin.dao.ShopMapper">
  <resultMap id="BaseResultMap" type="com.rolin.entity.Shop">
    <id column="shop_id" jdbcType="INTEGER" property="shopId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="shop_cat_name" jdbcType="CHAR" property="shopCatName" />
    <result column="shop_name" jdbcType="CHAR" property="shopName" />
    <result column="sec_pw" jdbcType="CHAR" property="secPw" />
    <result column="des_text" jdbcType="CHAR" property="desText" />
    <result column="head_img" jdbcType="CHAR" property="headImg" />
    <result column="lng" jdbcType="DOUBLE" property="lng" />
    <result column="lat" jdbcType="DOUBLE" property="lat" />
  </resultMap>
  <sql id="Base_Column_List">
    shop_id, user_id, shop_cat_name, shop_name, sec_pw, des_text, head_img, lng, lat
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </select>
  <select id="selectByShopName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from shop
    where shop_name=#{shopName}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop
    where shop_id = #{shopId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rolin.entity.Shop">
    insert into shop (shop_id, user_id, shop_cat_name, 
      shop_name, sec_pw, des_text, head_img, 
      lng, lat)
    values (#{shopId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{shopCatName,jdbcType=CHAR}, 
      #{shopName,jdbcType=CHAR}, #{secPw,jdbcType=CHAR}, #{desText,jdbcType=CHAR}, #{headImg,jdbcType=CHAR}, 
      #{lng,jdbcType=DOUBLE}, #{lat,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.rolin.entity.Shop">
    insert into shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="shopCatName != null">
        shop_cat_name,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="secPw != null">
        sec_pw,
      </if>
      <if test="desText != null">
        des_text,
      </if>
      <if test="headImg != null">
        head_img,
      </if>
      <if test="lng != null">
        lng,
      </if>
      <if test="lat != null">
        lat,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="shopId != null">
        #{shopId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopCatName != null">
        #{shopCatName,jdbcType=CHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=CHAR},
      </if>
      <if test="secPw != null">
        #{secPw,jdbcType=CHAR},
      </if>
      <if test="desText != null">
        #{desText,jdbcType=CHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=CHAR},
      </if>
      <if test="lng != null">
        #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null">
        #{lat,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rolin.entity.Shop">
    update shop
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="shopCatName != null">
        shop_cat_name = #{shopCatName,jdbcType=CHAR},
      </if>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=CHAR},
      </if>
      <if test="secPw != null">
        sec_pw = #{secPw,jdbcType=CHAR},
      </if>
      <if test="desText != null">
        des_text = #{desText,jdbcType=CHAR},
      </if>
      <if test="headImg != null">
        head_img = #{headImg,jdbcType=CHAR},
      </if>
      <if test="lng != null">
        lng = #{lng,jdbcType=DOUBLE},
      </if>
      <if test="lat != null">
        lat = #{lat,jdbcType=DOUBLE},
      </if>
    </set>
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rolin.entity.Shop">
    update shop
    set user_id = #{userId,jdbcType=INTEGER},
      shop_cat_name = #{shopCatName,jdbcType=CHAR},
      shop_name = #{shopName,jdbcType=CHAR},
      sec_pw = #{secPw,jdbcType=CHAR},
      des_text = #{desText,jdbcType=CHAR},
      head_img = #{headImg,jdbcType=CHAR},
      lng = #{lng,jdbcType=DOUBLE},
      lat = #{lat,jdbcType=DOUBLE}
    where shop_id = #{shopId,jdbcType=INTEGER}
  </update>
</mapper>