<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rolin.dao.ShopActGoodsMapper" >
  <resultMap id="BaseResultMap" type="com.rolin.entity.ShopActGoods" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="shop_act_id" property="shopActId" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, shop_act_id, goods_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from shop_act_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByShopActId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select *
    from shop_act_goods
    where shop_act_id = #{shopActId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from shop_act_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.rolin.entity.ShopActGoods" >
    insert into shop_act_goods (id, shop_act_id, goods_id
      )
    values (#{id,jdbcType=INTEGER}, #{shopActId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.rolin.entity.ShopActGoods" >
    insert into shop_act_goods
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="shopActId != null" >
        shop_act_id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="shopActId != null" >
        #{shopActId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.rolin.entity.ShopActGoods" >
    update shop_act_goods
    <set >
      <if test="shopActId != null" >
        shop_act_id = #{shopActId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.rolin.entity.ShopActGoods" >
    update shop_act_goods
    set shop_act_id = #{shopActId,jdbcType=INTEGER},
      goods_id = #{goodsId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>