<div class="page">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                </a>
            </div>
            <div class="title">喜欢的活动</div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <div class="list media-list will-list">
            <ul>
                <li class="item-content">
                    <div class="item-media">
                        <img src="/images/imgLoad.jpg" width="44"/>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Yellow Submarine</div>
                        </div>
                        <div class="item-subtitle">Beatles</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media">
                        <img src="/images/imgLoad.jpg" width="44"/>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Yellow Submarine</div>
                        </div>
                        <div class="item-subtitle">Beatles</div>
                    </div>
                </li>
                <li class="item-content">
                    <div class="item-media">
                        <img src="/images/imgLoad.jpg" width="44"/>
                    </div>
                    <div class="item-inner">
                        <div class="item-title-row">
                            <div class="item-title">Yellow Submarine</div>
                        </div>
                        <div class="item-subtitle">Beatles</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>