<div class="page">
    <div class="navbar no-hairline">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content activity-page-content hide-navbar-on-scroll">
        <div class="activity-head">
            <img src="{{actImg}}">
            <p class="activity-introduce">{{actDes}}</p>
            <p class="activity-rule">{{actId}}</p>
        </div>
        <div class="goods-detail-module">
            <div class="goods-detail-module-name">
                <i class="icon material-icons">label_outline</i><span>参与活动商品</span>
            </div>
            <div class="row no-gap">
                {{#each goodsList}}
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/{{this.goodsId}}">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url({{this.goodsImg}})" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>{{this.goodsName}}</p>
                                <p>￥{{this.goodsPrice}}</p>
                            </div>
                        </div>
                    </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>