<div class="page">
    <div class="navbar no-hairline">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                </a>
            </div>
        </div>
    </div>

    <div class="page-content activity-page-content hide-navbar-on-scroll">
        <div class="activity-head">
            <img src="/images/goods.jpg">
            <p class="activity-introduce">活动介绍</p>
            <p class="activity-rule">活动规则描述</p>
        </div>
        <div class="goods-detail-module">
            <div class="goods-detail-module-name">
                <i class="icon material-icons">label_outline</i><span>参与活动商品</span>
            </div>
            <div class="row no-gap">
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-50">
                    <a class="goods-card-link" href="/goods/123">
                        <div class="goods-card card activity-card-header-pic">
                            <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                            <div class="goods-card-content card-content card-content-padding">
                                <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                <p>￥100</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>