<div class="page" id="page-cart">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding">
            <div class="title">购物车</div>
        </div>
    </div>
    <div class="cart-pay-bar">
        <div class="cart-pay-bar-inner">
            <div class="row">
                <div class="col cart-pay-bar-inner-select">
                    <label class="checkbox">
                        <input type="checkbox">
                        <i class="icon-checkbox"></i>
                    </label>
                    <span>全选</span>
                </div>
                <div class="col cart-pay-bar-inner-sum">
                    <span>合计:</span><span class="sum">￥200</span>
                </div>
                <div class="col cart-pay-bar-inner-pay-btn">
                    <a class="button" href="/order/commit">结算</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content cart-page-content hide-navbar-on-scroll">
        <div class="card cart-card">
            <div class="cart-card-header">
                <div class="cart-card-name">
                    <label class="checkbox">
                        <input type="checkbox">
                        <i class="icon-checkbox"></i>
                    </label>
                    <span>John Doe</span>
                    <i class="icon f7-icons color-red">delete_round</i>
                </div>
            </div>
            <div class="card-content">
                <div class="list media-list">
                    <ul>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card cart-card">
            <div class="cart-card-header">
                <div class="cart-card-name">
                    <label class="checkbox">
                        <input type="checkbox">
                        <i class="icon-checkbox"></i>
                    </label>
                    <span>John Doe</span>
                    <i class="icon f7-icons color-red">delete_round</i>
                </div>
            </div>
            <div class="card-content">
                <div class="list media-list">
                    <ul>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card cart-card">
            <div class="cart-card-header">
                <div class="cart-card-name">
                    <label class="checkbox">
                        <input type="checkbox">
                        <i class="icon-checkbox"></i>
                    </label>
                    <span>John Doe</span>
                    <i class="icon f7-icons color-red">delete_round</i>
                </div>
            </div>
            <div class="card-content">
                <div class="list media-list">
                    <ul>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card cart-card">
            <div class="cart-card-header">
                <div class="cart-card-name">
                    <label class="checkbox">
                        <input type="checkbox">
                        <i class="icon-checkbox"></i>
                    </label>
                    <span>John Doe</span>
                    <i class="icon f7-icons color-red">delete_round</i>
                </div>
            </div>
            <div class="card-content">
                <div class="list media-list">
                    <ul>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                        <li class="swipeout">
                            <label class="item-checkbox item-content swipeout-content">
                                <input type="checkbox" name="demo-media-checkbox" value="1"/>
                                <i class="icon icon-checkbox"></i>
                                <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                                <div class="item-inner">
                                    <div class="item-title-row">
                                        <div class="item-title">Yellow Submarine</div>
                                    </div>
                                    <div class="item-subtitle">Beatles</div>
                                </div>
                            </label>
                            <div class="swipeout-actions-right">
                                <a href="#" class="color-orange">编辑</a>
                                <a href="#" class="color-red">删除</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>