<div class="page">
    <div class="navbar no-hairline goods-navbar">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                </a>
            </div>
        </div>
    </div>
    <div class="fab fab-right-bottom color-orange" id="goods-fab">
        <a href="#">
            <!-- Icons For iOS Theme -->
            <i class="icon f7-icons ios-only">add</i>
            <i class="icon f7-icons ios-only">close</i>
        </a>
        <!-- FAB speed dial actions -->
        <div class="fab-buttons fab-buttons-top">
            <a href=""><i class="icon f7-icons">star_fill</i></a>
            <a href="" id="add-cart-btn"><i class="icon material-icons">add_shopping_cart</i></a>
        </div>
    </div>
    <div class="page-content goods-page-content hide-navbar-on-scroll">
        <div class="goods-detail-head">
            <img src="{{goodsImg}}">
            <p class="goods-detail-name">{{goodsName}}</p>
            <p><span class="goods-detail-price-yuan">￥</span><span class="goods-detail-price">{{goodsPrice}}</span></p>
        </div>
        <div class="goods-detail-module">
            {{#each moduleLists}}
            <div class="goods-detail-module-name">
                <i class="icon material-icons">label_outline</i><span>模块名称</span>
            </div>
            {{#each this.moduleDetails}}
            <div class="goods-detail-module-imgText">
                <img src="{{this.moduleImg}}">
                <p>{{this.moduleDes}}</p>
            </div>
            {{/each}}
            {{/each}}
        </div>
    </div>
</div>