<div class="page" id="page-moment">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding">
            <div class="title">附近/关注</div>
        </div>
    </div>
    <div class="page-content ptr-content hide-navbar-on-scroll" id="moment-page-content">
        <!-- Default pull to refresh preloader-->
        <div class="ptr-preloader">
            <div class="preloader"></div>
            <div class="ptr-arrow"></div>
        </div>
        {{#each activities}}
        {{#if this}}
        <div class="card moment-card">
            <div class="moment-card-header">
                <div class="moment-card-avatar">
                    <img src="{{this.shopImage}}"/>
                </div>
                <div class="moment-card-name">{{this.shopName}}</div>
                <div class="moment-card-date">2018.{{this.beginTime.month}}.{{this.beginTime.day}}-{{this.endTime.month}}.{{this.endTime.day}}</div>
            </div>
            <a href="/activity/{{this.shopActId}}">
                <div class="moment-card-content">
                    <div class="moment-card-content-img-inner">
                        <img src="{{this.actImg}}"/>
                    </div>
                    <p class="moment-card-introduce">{{this.actDes}}</p>
                </div>
            </a>
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>