<div class="page" id="page-moment">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding">
            <div class="title">附近/关注</div>
        </div>
    </div>
    <div class="page-content hide-navbar-on-scroll">
        <div class="card moment-card">
            <div class="moment-card-header">
                <div class="moment-card-avatar">
                    <img src="/images/logo.jpg"/>
                </div>
                <div class="moment-card-name">John Doe</div>
                <div class="moment-card-date">Monday at 2:15 PM</div>
            </div>
            <div class="moment-card-content">
                <div class="moment-card-content-img-inner">
                    <img src="/images/goods.jpg"/>
                </div>
                <p class="moment-card-introduce">Note, that "card-header" and "card-footer" has flexbox layout (display:flex) where items have center vertical alignment. If you need to align items to top or to bottom of header/footer, then you may use additional typography classes, for exame</p>
            </div>
        </div>
        <div class="card moment-card">
            <div class="moment-card-header">
                <div class="moment-card-avatar">
                    <img src="/images/logo.jpg" width="34" height="34"/>
                </div>
                <div class="moment-card-name">John Doe</div>
                <div class="moment-card-date">Monday at 2:15 PM</div>
            </div>
            <div class="moment-card-content">
                <div class="moment-card-content-img-inner">
                    <img src="/images/goods.jpg"/>
                </div>
                <p class="moment-card-introduce">Note, that "card-header" and "card-footer" has flexbox layout (display:flex) where items have center vertical alignment. If you need to align items to top or to bottom of header/footer, then you may use additional typography classes, for exame</p>
            </div>
        </div>
        <div class="card moment-card">
            <div class="moment-card-header">
                <div class="moment-card-avatar">
                    <img src="/images/logo.jpg" width="34" height="34"/>
                </div>
                <div class="moment-card-name">John Doe</div>
                <div class="moment-card-date">Monday at 2:15 PM</div>
            </div>
            <div class="moment-card-content">
                <div class="moment-card-content-img-inner">
                    <img src="/images/goods.jpg"/>
                </div>
                <p class="moment-card-introduce">Note, that "card-header" and "card-footer" has flexbox layout (display:flex) where items have center vertical alignment. If you need to align items to top or to bottom of header/footer, then you may use additional typography classes, for exame</p>
            </div>
        </div>
        <div class="card moment-card">
            <div class="moment-card-header">
                <div class="moment-card-avatar">
                    <img src="/images/logo.jpg" width="34" height="34"/>
                </div>
                <div class="moment-card-name">John Doe</div>
                <div class="moment-card-date">Monday at 2:15 PM</div>
            </div>
            <div class="moment-card-content">
                <div class="moment-card-content-img-inner">
                    <img src="/images/goods.jpg"/>
                </div>
                <p class="moment-card-introduce">Note, that "card-header" and "card-footer" has flexbox layout (display:flex) where items have center vertical alignment. If you need to align items to top or to bottom of header/footer, then you may use additional typography classes, for exame</p>
            </div>
        </div>
    </div>
</div>