<div class="page" id="page-order-commit">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                </a>
            </div>
            <div class="title">提交订单</div>
        </div>
    </div>
    <div class="cart-pay-bar order-commit-bar">
        <div class="cart-pay-bar-inner">
            <div class="row">
                <div class="col cart-pay-bar-inner-sum">
                    <span>合计:</span><span class="sum">￥200</span>
                </div>
                <div class="col cart-pay-bar-inner-pay-btn">
                    <a class="button">结算</a>
                </div>
            </div>
        </div>
    </div>
    <div class="page-content order-commit-page-content hide-navbar-on-scroll">
        <div class="order-commit-head">
            <a href="#" class="address-a">
                <p class="user-message"><span>用户名</span> <span>手机号</span></p>
                <div class="address">
                    <p>山东省青岛市崂山区松岭路238号山东省青岛市崂山区松岭路238号山东省青岛市崂山区松岭路238号</p>
                </div>
                <div class="right-arrow-inner">
                    <i class="icon f7-icons color-black">right_arrow</i>
                </div>
            </a>
            <a class="pay-type" href="#">
                <p class="title">支付方式</p>
                <p class="choose-content">在线支付</p>
                <div class="right-arrow-inner">
                    <i class="icon f7-icons color-black">right_arrow</i>
                </div>
            </a>
        </div>
        <div class="card cart-card order-commit-card">
            <div class="cart-card-header">
                <div class="cart-card-name">
                    <span>John Doe</span>
                </div>
            </div>
            <div class="card-content">
                <div class="list media-list">
                    <ul>
                        <li class="item-content">
                            <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                                <div class="item-subtitle">Beatles</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                                <div class="item-subtitle">Beatles</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                                <div class="item-subtitle">Beatles</div>
                            </div>
                        </li>
                        <li class="item-content">
                            <div class="item-media"><img src="/images/imgLoad.jpg" width="44"/></div>
                            <div class="item-inner">
                                <div class="item-title-row">
                                    <div class="item-title">Yellow Submarine</div>
                                </div>
                                <div class="item-subtitle">Beatles</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="will-card-group">
            <div class="will-card">
                <a class="card-a" href="#">
                    <p class="title">配送</p>
                    <p class="content">商家配送</p>
                    <div class="right-arrow-inner">
                        <i class="icon f7-icons color-black">right_arrow</i>
                    </div>
                </a>
            </div>
            <div class="will-card">
                <a class="card-a" href="#">
                    <p class="title">优惠</p>
                    <p class="content">无可用优惠</p>
                    <div class="right-arrow-inner">
                        <i class="icon f7-icons color-black">right_arrow</i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>