<div class="page" id="shop-page">
    <div class="navbar no-shadow no-hairline">
        <div class="navbar-inner sliding" id="shop-navbar-inner">
            <div class="left">
                <a href="#" class="link back">
                    <i class="icon f7-icons ios-only">chevron_left</i>
                    <i class="icon material-icons md-only">arrow_back</i>
                </a>
            </div>
            <div class="right">
                <a href="#" class="link">
                    <i class="icon f7-icons">pie</i>
                </a>
                <a href="#" class="link">
                    <i class="icon f7-icons">money_yen</i>
                </a>
                <a href="#" class="link">
                    <i class="icon f7-icons">settings</i>
                </a>
            </div>
        </div>
    </div>
    <div class="toolbar tabbar-labels shop-toolbar">
        <div class="toolbar-inner">
            <a href="#" class="tab-link">
                <i class="icon f7-icons ios-only">list</i>
                <!-- Label text -->
                <span class="tabbar-label">分类</span>
            </a>
            <a href="#" class="tab-link">
                <i class="icon f7-icons ios-only">add_round</i>
                <span class="tabbar-label">添加</span>
            </a>
        </div>
    </div>
    <div class="page-content" id="shop-page-content">
        <div class="shop-card" id="shop-card">
            <div class="row shop-head">
                <img src="/images/logo.jpg">
            </div>
            <div class="row shop-name">
                <p>shop name</p>
            </div>
            <div class="row shop-introduce">
                <p>shop introduce</p>
            </div>
            <div class="row member-fans">
                <p>关注/粉丝</p>
            </div>
            <div class="shop-tab">
                <div class="row shop-tab-inner subnavbar-inner">
                    <div class="col">
                        <a href="#" class="tab-link tab-link-active shop-tab-link" data-tab="#goods-tab">商品</a>
                    </div>
                    <div class="col">
                        <a href="#" class="tab-link shop-tab-link" data-tab="#tab2">活动</a>
                    </div>
                    <div class="col">
                        <a href="#" class="tab-link shop-tab-link" data-tab="#tab3">图文</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="tabs-animated-wrap tabs-swipeable-wrap">
            <div class="tabs tabs-top">
                <div class="tab tab-active shop-tab-content" id="goods-tab">
                    <div class="row no-gap">
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-50">
                            <a class="goods-card-link link" href="#" >
                                <div class="goods-card card activity-card-header-pic">
                                    <div style="background-image:url(http://iph.href.lu/600x500?text=&fg=ffffff&bg=ddd)" class="card-header align-items-flex-end"></div>
                                    <div class="goods-card-content card-content card-content-padding">
                                        <p>商品标题商品标题商品标题商品标题商品标题商品标题商品标题商品标题</p>
                                        <p>￥100</p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="tab shop-tab-content" id="tab2">

                </div>
                <div class="tab shop-tab-content" id="tab3">
                    <div class="block">

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="popover popover-goods-action-list">
        <div class="popover-inner">
            <div class="list">
                <ul>
                    <li><a class="list-button item-link" href="#">查看</a></li>
                    <li><a class="list-button item-link" href="#">修改</a></li>
                    <li><a class="list-button item-link" href="#">数据</a></li>
                    <li><a class="list-button item-link" href="#">删除</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="popup" id="shop-register-popup">
        <div class="view">
            <div class="page">
                <div class="navbar no-shadow no-hairline">
                    <div class="navbar-inner">
                        <div class="right">
                            <a href="#" class="popup-close icon-only link">
                                <i class="icon f7-icons ios-only">close</i>
                                <i class="icon material-icons md-only">close</i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="page-content login-screen-content">
                    <div class="block">
                        <div class="login-screen-title">店铺注册</div>
                        <form class="list no-hairlines-md" id="shop-register-form">
                            <ul>
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">店名</div>
                                        <div class="item-input-wrap">
                                            <input type="text" name="shopName" placeholder="请输入店铺名字">
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-content item-input">
                                    <div class="item-inner">
                                        <div class="item-title item-label">定位</div>
                                        <div class="item-input-wrap">
                                            <textarea id="map-input" type="text" placeholder="点击获取位置" readonly="readonly"></textarea>
                                            <span class="input-clear-button"></span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </form>
                        <div class="list">
                            <ul>
                                <li>
                                    <a href="#" class="item-link list-button login-button" id="shop-register-btn">注册</a>
                                </li>
                            </ul>
                            <div class="block-footer">Some text about login information.<br>Click "Sign In" to close Login Screen</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="popup" id="map-popup">
        <div class="view">
            <div class="page">
                <div class="navbar no-shadow no-hairline">
                    <div class="navbar-inner">
                        <div class="left">
                            <a href="#" class="icon-only link" id="map-close-link">
                                <i class="icon f7-icons ios-only">chevron_left</i>
                                <i class="icon material-icons md-only">arrow_back</i>
                            </a>
                        </div>
                        <div class="title">
                            定位
                        </div>
                    </div>
                </div>
                <div class="page-content login-screen-content">
                    <div id="map-container"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="sheet-modal" id="map-sheet">
        <div class="toolbar">
            <div class="toolbar-inner">
                <div class="left"></div>
                <div class="title">是否使用此位置？</div>
                <div class="right"></div>
            </div>
        </div>
        <div class="sheet-modal-inner">
            <div class="block">
                <h4>提醒</h4>
                <p>不支持手动定位,确定位置后一周内只能修改一次</p>
                <div class="row">
                    <button id="map-unused-btn" class="col button button-fill">暂时不用</button>
                    <button id="map-use-btn" class="col button button-outline">使用定位</button>
                </div>
            </div>
        </div>
    </div>
</div>
